$white: #fff;

$gray-100: #e1e1e6;
$gray-300: #a8a8b3;
$gray-500: #6f6f74;
$gray-800: #29292e;
$gray-850: #1f2729;
$gray-900: #121214;

$green-500: #456438;
$green-700: #008000;

$yellow-500: #a99a86;

$red-700: #dc0027;

$blue-300: #4169e1;
$blue-500: #274cbb;
$blue-700: #00128c;

$orange: #e1ac40;
